.responsive-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

@media (max-width: 600px) {
    .responsive-container {
        padding: 0 15px;
    }
}

pre {
    overflow-x: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

img, table {
    max-width: 100%;
    height: auto;
}
